li{
    list-style: none;
    font-size: 25px;
    width: 27px;
    height: 27px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    background-color: antiquewhite;
    cursor: pointer;
    /* display: inline-block; */
}
li:hover{
    transform: scale(1.2);
    background-color: rgb(186, 241, 223);
}
.firstrow,.secondrow,.thirdrow{
    display: flex;
    flex-direction: column;
    width: fit-content;

}
.container{
    display: flex;
    gap: 50px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item{
    background-color: rgb(163, 180, 214);
    
}